@charset 'utf-8';

* {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:middle;background:transparent}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
nav, ul {list-style:none}
a {-webkit-tap-highlight-color:transparent;text-decoration:none}
*:focus {outline:none}
em{font-style:normal;}
textarea, input{background:#ffffff}
.hide {display:block;width:0;height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
html,body{ margin:0; padding:0; width:100%; height:100%;}
body {min-width:320px;max-width:720px;-webkit-text-size-adjust:100%;background-color:#fff;margin:0 auto;line-height:1.5;color:#000}

 /*공통*/
.wrap{padding-bottom:18.75%;}
.wrap section{position:relative;}
/* update */
.update {position:fixed;bottom:0;width:100%;min-width:320px;max-width:720px;padding-top:18.75%;background:url('//image.genie.co.kr/imageg/app/promo_2017/0817/ar_update.png') no-repeat 0 100%;background-size:100%;font-size:0;line-height:0;text-indent:-9999px;z-index:999}
.update .update-btn {display:block;position:absolute;bottom:23%;right:5%;width:30%;height:55%}
.wrap section img{width:100%}

/* contents */
.title ul{position:absolute; left:50%; top:40%; width:85%; height:55%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.title ul:after{content:""; display:block; clear:both}
.title ul li{width:50%; height:18%; float:left; margin-bottom:5%; text-indent:-9999em}
.title ul li a{display: block; height:100%;}

.chart .img1{position:absolute; width:79.1666%;top:45%;left:4%;padding-top:48.0555555556%;background:url('../img/img_chart.png') no-repeat 0 0;background-size:100%}

.info .img1{position:absolute;width:37.5%;bottom:0;left:43.9%;height:46.5%;overflow:hidden}
.info .img1 img {width:100%}
.info .img2{position:relative;top:-36%}

.genius a{position:absolute; left:20%; top:30%; width:60%; height:8%; text-indent:-9999em}

.mplayer .player{position:absolute; left:21.8%; top:36.8%; width:56.5%; height:5.6%; display: inline-block;}
.mplayer .player img{position:absolute; top:0; left:0; display:none;}

/* sns */
.sns {position:relative;width:100%;padding-top:38.125%;font-size:0;line-height:0;text-indent:-9999px;background:url('//image.genie.co.kr/imageg/app/promo_2017/0817/ar_footer_sns.png') no-repeat 0 0;background-size:100% 100%}
.sns a{display:block;position:absolute;top:51%;width:13%;height:35%;z-index:9999}
.sns .btn-facebook{left:27.5%}
.sns .btn-kakao{left:43.5%}
.sns .btn-twitter{left:59.3%}

/* motion */
.ios-blt-scroll {display:block;position:absolute;top:0;right:3%;z-index:9;width:25%;padding-top:25%;background:url('//image.genie.co.kr/imageg/app/promo_2017/0607/ios_blt_scroll.png') no-repeat 0 0;background-size:100% auto;
opacity:0;font-size:0;line-height:0;text-indent:-9999px;-webkit-animation:mainScroll 3s;animation:mainScroll 3s}

@-webkit-keyframes mainScroll {
	from {opacity:0}
	20% {opacity:0;top:80%}
	30% {opacity:1}
	75% {opacity:1;top:80%}
	85% {opacity:0}
}
@keyframes mainScroll {
	from {opacity:0}
	20% {opacity:0;top:80%}
	30% {opacity:1}
  75% {opacity:1;top:80%}
	85% {opacity:0}
}

.fadeIn-ani {-webkit-animation:fadeInAni 3.5s;animation:fadeInAni 3.5s}
@-webkit-keyframes fadeInAni {
	from {opacity:0}
	20% {opacity:0}
	30% {opacity:0}
  75% {opacity:0}
	85% {opacity:1}
}
@keyframes fadeInAni {
	from {opacity:0}
	20% {opacity:0}
	30% {opacity:0}
  75% {opacity:0}
	85% {opacity:1}
}

.fadeIn {
   opacity: 1;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.fadeOut {
   opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.playlistIn {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
  -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1
}

.playlistOut {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
  -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}
.playlistOut {
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
  -webkit-transform: translate(0, -10%);
  -moz-transform: translate(0, -10%);
  -ms-transform: translate(0, -10%);
  -o-transform: translate(0, -10%);
  transform: translate(0, -10%);
  opacity: 0
}

.fromBottomIn {
  transition: transform 2s ease, opacity 1s ease;
  transition: transform 2s ease, opacity 1s ease, -webkit-transform 2s ease, -moz-transform 2s ease, -o-transform 2s ease;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}
.fromBottomOut{
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
  -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}
.fromBottomOut {
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
  -webkit-transform: translate(0, 15%);
  -moz-transform: translate(0, 15%);
  -ms-transform: translate(0, 15%);
  -o-transform: translate(0, 15%);
  transform: translate(0, 15%);
  opacity: 1
}
