@charset 'utf-8';

* {margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:middle;background:transparent; letter-spacing:-0.05em;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {min-width:320px;max-width:720px;-webkit-text-size-adjust:100%; margin:0 auto;line-height:1.5;color:#2d2f38; box-sizing:border-box; background: #fff;}
html, body {-webkit-text-size-adjust: none; font-size:14px; font-family:NanumSquare, 'Malgun Gothic','돋움', 'dotum';  -webkit-font-smoothing: antialiased;}
nav, ul {list-style:none}
a {-webkit-tap-highlight-color:transparent;text-decoration:none}
button {display:block;margin:0;padding:0;background:none;border:0;font-size:0;line-height:0; cursor:pointer}
button::-moz-focus-inner {padding:0;border:0}
*:focus {outline:none}


/** 공통 **/
.hide {display:block;width:0;height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.red{color:#ff5b62 !important;}
.line-black{border-bottom:1px solid #27282d; line-height:110%;}
.line-red{border-bottom:1px solid #ff5b62; line-height:110%;}
.pd20{padding-bottom:20%;}
.basic_btn{background:#27282d; border-radius:25px; font-size:16px; line-height:45px; width:100%; color:#fff}
.basic_btn em{position:relative; padding-right:20px}
.basic_btn em:after{background:url(../img/ico.png) no-repeat -48px 0; background-size:150px; content:""; position:absolute; right:0; top:2px; width:14px; height:15px;}
.ico{background:url(../img/ico.png) no-repeat 0 0px; background-size:150px; }

/*	font 설정	*/
@font-face {
 font-family: 'NanumSquare';
 src: url(../font/NanumSquareRoundR.eot);
 src: url(../font/NanumSquareRoundR.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareRoundR.woff) format('woff'),
      url(../font/NanumSquareRoundR.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquareB';
 src: url(../font/NanumSquareRoundB.eot);
 src: url(../font/NanumSquareRoundB.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareRoundB.woff) format('woff'),
      url(../font/NanumSquareRoundB.ttf) format('truetype');
}

/* main visual */
.mainvisual img{width:100%;}
.mainvisual{position:relative; padding:0;}
.mainvisual .tab{width:100%; background:#1a1b20}
.mainvisual .tab:after{content:""; display:block; clear:both; }
.mainvisual .tab li{float:left; width:50%; background:#000000; border:3px solid #000; box-sizing:border-box; border-radius:10px 10px 0 0; position:relative;}
.mainvisual .tab li a{display:block; height:100%; font-size:19px; line-height:51px; color:#686f78; text-align:center; font-family:NanumSquareB}
.mainvisual .tab li.on{background:#87d6ff}
.mainvisual .tab li.on:before{content:""; width:14px; height:14px; background:#87d6ff; left:45%; bottom:-11px; position:absolute; border-left:3px solid #000; border-bottom:3px solid #000; transform: rotate(-46deg);}
.mainvisual .tab li.on a{color:#000}
.mainvisual .tab.top-nav{position:fixed; top:0; left:0;z-index:10}

/* 반짝반짝*/
@keyframes blink { 
	0% {opacity: 0;}
	50% {opacity: 1;}
	90% {opacity: 0; }
	100% {opacity: 0; }
}
.star li{position:absolute; top:5%; left:12%; width:19px; height:16px}
.star li:nth-child(1) em{ animation: blink 3s infinite; animation-delay: 0.2s; }
.star li:nth-child(2) em{ animation: blink 2s infinite; animation-delay: 1s; }
.star li:nth-child(2){top:10%; left:7%; }
.star li:nth-child(3) em{ animation: blink 2.2s infinite; animation-delay: 3s; }
.star li:nth-child(3){top:47%; left:7%; }
.star li:nth-child(4) em{ animation: blink 2.6s infinite; animation-delay: 1s; }
.star li:nth-child(4){top:70%; left:12%; }
.star li:nth-child(5) em{ animation: blink 3.1s infinite; animation-delay: 0.3s; }
.star li:nth-child(5){top:16%; left:80%; }
.star li:nth-child(6) em{ animation: blink 2.5s infinite; animation-delay: 2s; }
.star li:nth-child(6){top:34%; left:94%; }
.star li:nth-child(7) em{ animation: blink 2.2s infinite; animation-delay: 0.3s;  }
.star li:nth-child(7){top:50%; left:76%;}
.star li:nth-child(8) em{ animation: blink 2s infinite; animation-delay: 0.9s;  }
.star li:nth-child(8){top:69%; left:88%;}
.star li em{background-position:-22px 0; width:19px; height:16px; display:block; opacity:0;}

section h2{color:#27282d; font-size:25px; text-align:center; padding:0 0 15px; line-height:33px; font-family:NanumSquareB}
.before_login{border:3px solid #1a1b20; background:#fff; border-radius:20px; padding:90px 0; text-align:center; font-size:17px; font-family:NanumSquareB}
.before_login .btnarea{width:157px; margin:0 auto; padding-top:15px}

/* swiper */
.swiper-container{position:relative;overflow:hidden; z-index:1}
.swiper-container-no-flexbox .swiper-slide {float:left}
.swiper-container-vertical > .swiper-wrapper {-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.swiper-wrapper {position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-container-android .swiper-slide, .swiper-wrapper {-webkit-transform:translate3d(0px, 0, 0);-moz-transform:translate3d(0px, 0, 0);-o-transform:translate(0px, 0px);-ms-transform:translate3d(0px, 0, 0);transform:translate3d(0px, 0, 0)}
.swiper-container-multirow > .swiper-wrapper {-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}
.swiper-container-free-mode > .swiper-wrapper {-webkit-transition-timing-functvion:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}
.swiper-wp8-horizontal {-ms-touch-action:pan-y;touch-action:pan-y}
.swiper-slide {-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;position:relative;top:0;width:100%; }
.swiper-pagination{width:100%;text-align:center;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-webkit-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);z-index:10;line-height:1; padding:10px 0 20px}
.swiper-pagination-bullet {width:8px;height:8px;display:inline-block;margin:0 4px; border:1px solid #000000; border-radius:50%;opacity:1}
.swiper-pagination-clickable .swiper-pagination-bullet {cursor:pointer; transition:all .4s;}
.swiper-pagination-bullet-active {width:16px; background:#000;opacity:1; border-radius:20px}

/* top10 */
.music_list{background:#fff5a1; padding:40px 18px}
.music_list .mymusic{border:3px solid #1a1b20; background:#fff; border-radius:20px; padding:8px 0}
.top10{padding-left:35px; }
.top10 li{position:relative;height:60px;border-top:1px solid #e9e9e9; padding:0 60px 0 56px;}
.top10 li:first-child{border-top:none;}
.top10 li em{font-size:16px; color:#1a1b20; position:absolute; left:-22px; top:20px;}
.top10 li .play {display:block;position:absolute;top:15px;right:15px;width:28px;height:28px;text-align:center; background-position:-112px 0; text-indent:-9999px;}
.top10 li .info {display:block;font-size:12px;color:#a0a0a0;white-space:nowrap;}
.top10 li .info .thum{position:absolute; left:0; top:6px; width:48px; height:48px; display:block;}
.top10 li .info .thum:after {content:'';position:absolute;top:0;left:0;width:47px; height:47px;display:block;border:1px solid rgba(0,0,0,0.1);}
.top10 li .info .thum img{width:100%}
.top10 li .info .title {display:block;width:auto;max-width:100%;padding:13px 0 2px;font-size:14px;line-height:16px;color:#454b54;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.top10 li .info .artist{display:block;width:auto;max-width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.music_list .btnarea:after{content:""; display:block; clear:both}
.music_list .btnarea li{width:50%; float:left; padding-left:4px; box-sizing: border-box;}
.music_list .btnarea li:first-child{width:50%; float:left; padding:0 4px 0 0;}
.music_list .txt{font-size:13px; text-align:center; padding-top:25px}

/* artist */
.artist_list.pd{padding:40px 18px}
.artist_list{background:#db4a37; padding:40px 0; position:relative;}
.artist_list h2{color:#fff}
.best_artist{padding-top:10px}
.best_artist li{text-align:center; }
.best_artist li .area{width:230px; margin:0 auto; }
.best_artist li .thum .win{position:absolute; left:-15px; top:115px; width:210px; height:62px; background:url('../img/ribbon.png') no-repeat 0 0; background-size:100%; text-indent:-9999em; font-weight:normal; opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:none;transition:none}
.best_artist li.swiper-slide-active .win{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); -webkit-transition:opacity 0.5s, ease 0.3s;transition:opacity 0.5s, ease 0.3s;}
.best_artist li .thum{width:170px; display:block; margin:0 30px; position:relative;}
.best_artist li .thum img{width:164px; height:164px; border: 3px solid #1a1b20; border-radius:50%; }
.best_artist li .thum:after{position:absolute; left:0px; top:0px; border-radius:50%; width:100%; height:100%; content:""; background:rgba(0,0,0,0.4); }
.best_artist li.swiper-slide-active .thum:after{background:rgba(0,0,0,0);}
.best_artist li .thum .num{z-index: 1; width:54px; line-height:54px; background:#fff5a1; font-size:18px; border: 3px solid #1a1b20; border-radius:50%; position:absolute; left:-12px; top:-10px; text-align:center; font-family: NanumSquareB; display:block; opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:none;transition:none}
.best_artist li.swiper-slide-active .num{top:0; opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); -webkit-transition:opacity 0.5s, top 0.3s ease;transition:opacity 0.5s, top 0.3s ease;}

.best_artist li strong{display:block; padding:50px 0 60px; color:#ffffff; font-size:17px; opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:none;transition:none; line-height: 24px;}
.best_artist li.swiper-slide-active strong{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); -webkit-transition:opacity 1s, ease 1.3s;transition:opacity 1s, ease 1.3s;}
.best_artist li strong em{display:inline-block; color:#fff5a1; line-height:19px; max-width: 172px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }
.artist_list .swiper-pagination{position:absolute; top:340px;}
.best_artist li .basic_btn{position:absolute; left:0px; bottom:0px; opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:none;transition:none}
.best_artist li.swiper-slide-active .basic_btn{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); -webkit-transition:opacity 1s, ease 1s;transition:opacity 1s, ease 1s;}

/* season */
.season{background:#403967; padding:40px 18px; position:relative; overflow:hidden}
.season h2{color:#fff}
.season .season_txt{color:#ffffff; font-size:17px; text-align:center; padding-bottom:15px;}
.season .season_txt em{color:#fff391}
.season-list{width:340px; margin:0 auto; }
.season-list:after{content:""; display:block; clear:both;}
.season-list li{position: relative; padding-left:8px; width:133px; height:200px; float: left; margin:0 10px 0;}

.season-cover{border:3px solid #1a1b20; color:#fff; font-size:16px; width:45px; line-height:45px; position:absolute; right:0; top:76px; border-radius:50%; text-align:center}
.spring{background:#db4a37}
.summer{background:#216bc3}
.fall{background:#9e9800}
.winter{background:#4e7c98}

.season-img-artist{border: 3px solid #1a1b20; border-radius:50%; box-sizing: border-box; overflow:hidden; width:125px; height:125px;}
.season-img-artist img{width:100%;}
.season-img-artist .null_txt{display:block; width:100%; text-align:center; color:#ffffff; font-size:13px; font-family: NanumSquareB; padding-top:28px}

.season-null-spring span, .season-null-summer span, .season-null-fall span, .season-null-winter span{ display: block; width:100%; position:absolute; top:49%; margin: 0 auto; font-size:1.222rem; line-height: 120%; text-align: center; font-weight: 300; color: #27282d; z-index: 99999;}

.season-txt{text-align: center; color:#fff; height:60px; padding-top:6px;}
.season-txt strong{width: 100%; overflow: hidden;  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word; }
.season-txt span{display: block; font-size:12px; color: #d2d1d9; overflow: hidden;  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word; padding-top: 3px;}

@media screen and (max-width: 320px){
	.season-list{width:320px; margin:0 auto; }
	.season-list:after{content:""; display:block; clear:both;}
	.season-list li{position: relative; padding-left:8px; width:123px; height:200px; float: left; margin:0 5px 0;}
}

/* genre */
.genre_area{background:#f2f2f2; padding:40px 18px; position:relative; overflow:hidden}
.genre_area .genre_txt{font-size:17px; text-align:center; padding-bottom:15px;}
.genre_area .genre_txt em{color:#fb533d}

.genre{width:312px; height:253px; margin:0 auto;}
.genre ul{position:relative; width:100%; }
.genre ul li{position:absolute; }
.genre ul li .circle-box{position:relative; width:100%; height:100%; font-size:1.778em;}
.genre ul li .circle-box .circle-title{position:absolute; top:33%; width:100%; text-align:center; z-index:3;}

.genre ul li.genre-list-first{width:165px; height:165px; left:0; top:30px}
.genre ul li.genre-list-first .circle-title{font-size:20px;}
.genre ul li.genre-list-first .pie:after{font-size:27px; top: 60%;}

.genre ul li.genre-list-second{width:135px; height:135px; right:0px; top:0}
.genre ul li.genre-list-second .circle-title{font-size:18px;}
.genre ul li.genre-list-second .pie:after{font-size:25px; top:62%;}

.genre ul li.genre-list-third{width:107px; height:107px; left: 155px; top:150px}
.genre ul li.genre-list-third .circle-title{font-size:15px;}
.genre ul li.genre-list-third .pie:after{font-size:23px; top: 66%;}

.pie {position: relative; top:0; background-color: #dddddd; border-radius: 50%; width: 100%; height:100%; overflow: hidden; border: 3px solid #1a1b20; box-sizing: border-box;}
.pie > div {float: left; width: 50%; height: 100%; position: relative; overflow: hidden;}
.pie span {display: block; width: 100%; height: 100%;}
.pie .left span {border-top-right-radius: 0; border-bottom-right-radius: 0; -webkit-transform-origin: 100% 50%;}
.pie .right span {border-top-left-radius: 0; border-bottom-left-radius: 0; -webkit-transform-origin: 0% 50%;}
.pie:before, .pie:after {border-radius: 50%; display: block; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%);}
.pie:before {background-color: #efefee; content: ""; width:86%; height: 86%; z-index:2;}
.pie:after{content: attr(data-percent) "%"; z-index: 3; text-align: center; top: 59%;} 
.genre-info{text-align:center; font-family: NanumSquareB; padding-top:25px;}

/* 발자국 */
.vestige_area{background:#1da158; padding:40px 18px; position:relative; overflow:hidden}
.vestige_area h2{color:#fff}
.vestige_area .genre-info{text-align:center; font-family: NanumSquareB; padding-top:25px; color:#fff}
.vestige{position:relative; width:320px; height:307px; margin:0 auto;}
.vestige .boxs li{position:relative; width:123px; height:123px; float:left; margin:0 15px; background:url('../img/menu_vestige.png') no-repeat 0 0; background-size:250px; color:#ffffff;}
.vestige .boxs li span{position:absolute; top:40%; width:100%; text-align:center; font-size:35px; }

.vestige .boxs li.vestige-menu1{background-position:left 3px; }
.vestige .boxs li.vestige-menu2{background-position:right 3px; margin-left: 25px;}
.vestige .boxs li.vestige-menu1.active{background-position:left bottom; color:#27282d }
.vestige .boxs li.vestige-menu2.active{background-position:right bottom; color:#27282d} 

.vestige-container{clear:both; position:absolute; top:110px; float:left; width:100%; z-index:9;}
.vestige-container .vestige-content{width:100%; height:200px}
.vestige-container .vestige-data{background:url('../img/vestige_tab_bg_r1.png') no-repeat; background-size:100%;}
.vestige-container .review-data{background:url('../img/vestige_tab_bg_r1.png') 0 66.73% no-repeat; background-size:100%;}

.vestige-container .vestige-null{background-position:0 33.3333333333% !important; font-size:0 !important; line-height:0 !important; text-indent:-9999px !important;}
.vestige-container .review-null{background-position:0 100% !important; font-size:0 !important; line-height:0 !important; text-indent:-9999px !important;}
.vestige-container .review-null img{display:none;}

.vestige-data dl{width:100%; color:#27282d; padding-top: 22px;}
.vestige-data dl:after{content:""; display:block; clear:both;}
.vestige-data dl dt{display:none;} 
.vestige-data dl dd{height:87px; width:50%; float:left; font-size:25px; text-align:center; line-height: 116px; text-indent: -10px;} 

.review-data > div{position:absolute; width:100%;}
.review-data .review-txt{top:14%; height:48%; padding:4.4% 7.55%; box-sizing:border-box; }
.review-data .review-txt span{font-size:13px; color:#8f909a}
.review-data .review-txt p{font-size:16px; box-sizing:border-box; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word; line-height: 22px;}

.review-data .review-music{top: 64%; padding:0 6% 0 7%; box-sizing:border-box;}
.review-data .review-music .review-music-img{width:18.5%; display:inline-block; vertical-align:middle;}
.review-data .review-music .review-music-img img{width:100%;}
.review-data .review-music .review-artist-img{width:18.5%; display:inline-block; vertical-align:middle; border-radius:100%; overflow:hidden;}
.review-data .review-music .review-artist-img img{width:100%;}
.review-data .review-music .review-music-txt{ padding:0 2.4% 0 4.8%; box-sizing:border-box; display:inline-block; vertical-align:middle; width:69%; }
.review-data .review-music .review-music-txt p{display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.review-data .review-music .review-music-txt span{display:block; font-size:12px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:#707072;}
.review-data .review-music .review-music-play{width:10%; text-align:right; display:inline-block; vertical-align:middle;}
.review-data .review-music .review-music-play a{display:block;position:absolute;top:15px;width:28px;height:28px;text-align:center; background-position:-112px 0; text-indent:-9999px;}

/* 뮤직궁합지수 */
.result_area{background:#333640; padding:40px 18px; position:relative; overflow:hidden}
.result_area h2{color:#fff}
.result_area dl{width:300px; margin:0 auto; text-align:center; }
.result_area dl dt{color:#fff391; font-family: NanumSquareB; font-size:23px; line-height:30px; padding-bottom:10px; padding-top:140px; position:relative;}
.result_area dl dt:before{background:url(../img/ico_total.png) 0 0 no-repeat; background-size:300px; width:285px; height:122px; content:""; position:absolute;left: 8px; top:0;}
.result_area dl dd{color:#fff; font-size:16px;}
.result_area dl dt:after{background:url(../img/ico_total.png) 0 0 no-repeat; background-size:300px; content:""; position:absolute; }
.result_area dl dt.lv01:after{background-position:-89px -217px; width:57px; height:61px; left:40px; top:30px;}
.result_area dl dt.lv02:after{background-position:0 -220px; width:71px; height:36px; left:33px; top:40px;}
.result_area dl dt.lv03:after{background-position:-222px -139px; width:35px; height:63px; left:51px; top:28px;}
.result_area dl dt.lv04:after{background-position:-154px -139px; width:44px; height:62px; left:48px; top:28px;}
.result_area dl dt.lv05:after{background-position:-76px -139px; width:64px; height:54px; left:38px; top:30px;}
.result_area dl dt.lv06:after{background-position:0 -139px; width:62px; height:57px; left:38px; top:30px;}

/* 이벤트 */
.event{height:673px; text-indent:-9999em; background:url(../img/bg_event.png) center 40px no-repeat #f6f6f6; background-size:320px 607px;}
.event .contents{width:320px; margin:0 auto; position:relative;}
.event .contents .date{position:absolute; left:106px; top:383px; }
.event .contents .date dt{display:none; }
.event .contents .date dd{text-indent:0; font-size:16px; line-height: 28px;}
.event .contents ul{position:absolute; left:44px; top:487px}
.event .contents ul li a{width:230px; height:45px; margin-bottom:7px; display:block}

/* sns */
.sns{height:220px; text-indent:-9999em; background:url(../img/sns.png) center 30px no-repeat #ebebeb; background-size:220px 143px; position:relative;}
.sns ul{width:220px; margin:0 auto; padding-top:40px;}
.sns ul li{float:left; width:60px; height:75px; margin-left:20px; }
.sns ul li:first-child{margin-left:0px; }
.sns ul li a{display:block; width:62px; height:85px;}

.caution{height:416px; text-indent:-9999em; background:url(../img/caution.gif) center 30px no-repeat #333640; background-size:316px 353px; position:relative;}
